{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.contact.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

   

          
            <br>
            
            <div class="b-container" >
                <a   onclick="javascript:PopUpShow_first();"><i class="fa fa-envelope" aria-hidden="true"></i><br>Написать Нам</a> 
            </div>
           

            <div class="b-popup" id="popup1" >
                <div class="b-popup-content" >
                    <div class="row">
                        <div class="col-lg-12">
                        <a  href="javascript:PopUpHide_first();" > <img src="img/close-btn.png"> </a>
                            <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                                <div class="row">
                                    
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" name="Имя" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . | markdownify }}{{ end }}">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" name="телефон" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.warning }}{{ . | markdownify }}{{ end }}">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    
                                        
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" name="текст сообщения" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . | markdownify }}{{ end }}"></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                    
                                        <input type="hidden" name="_next" value="{{ .Site.BaseURL }}" />
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.message_buttonText}}{{ . | markdownify }}{{ end }}</button>
                                        </div>

                                </div>
                            </form>
                           
                            
                        </div>
                    </div>    
                </div>
            </div>

           
             <div class="b-container" >
                <a href="javascript:PopUpShow_second();"><i class="fa fa-phone" aria-hidden="true"></i><br>Заказать Звонок</a> 
            </div>
            
             <div class="b-popup" id="popup2" >
                <div class="b-popup-content" >
                    <div class="row">
                        <div class="col-lg-12">
                        <a href="javascript:PopUpHide_second();" > <img src="img/close-btn.png"> </a>
                            <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                                <div class="row">
                                        <input type="hidden" name="Заказ звонка" value="Перезвоните мне пожалуйста" >

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" name="Имя" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" name="телефон" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.warning }}{{ . | markdownify }}{{ end }}">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="form-group">
                                            <ul class='list-inline'>
                                            <li><input type="radio" name="Куда перезвонить: " value="на Viber"> Viber</li>
                                            <li><input type="radio" name="Куда перезвонить: " value="на WhatssApp" checked> WhatsApp</li>
                                            <li><input type="radio" name="Куда перезвонить: " value="на телефон" > Телефон</li>
                                         </div>
                                            
                                        
                                        <input type="hidden" name="_next" value="{{ .Site.BaseURL }}" />
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.order_call_buttonText  }}{{ . | markdownify }}{{ end }}</button>
                                        </div>
                                </div>
                            </form>
                            
                            
                        </div>
                    </div>    
                </div>
            </div>           

           

           

    </div>
</section>
