{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
                <br>
                <span class="copyright"> </span>
            </div>
            <div class="col-md-4 text-center">
               
                   
                    <i class="fa fa-phone" aria-hidden="true"></i>: {{ with .Site.Params.footer.phone }}{{ . | markdownify }}{{ end }} <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    
                
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    
                    <li> <sup> {{ with .Site.Params.footer.author }}{{ . | markdownify }}{{ end }}  </sup> </li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>
