{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class='bg-light-gray'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Data.projects }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-eye fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ .preview }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>{{ .title | markdownify }}</h5>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ "<!-- Unslider script -->" | safeHTML }}




    
 
<section id="photo" class="bg-light-gray-padding-top-0 bg-light-gray" > <!-- bg-light-gray-padding-top-0 - размер подложки -->
    
    <div class="container" >

        <div class='row text-center' >
            <div class="my-slider " >
            
            {{ if .Site.Params.gallery.enable }}
                
                <ul>
                    {{ range .Site.Params.gallery.img }}
                    <li> <img src="img/gallery/{{.img}}"></li>
                    {{ end }}    
                </ul>

            {{end}}    
            </div>

           <a href='{{with .Site.Params.hero.instagram_link}}{{ . | markdownify }}{{ end }} ' > <button class='btn btn-primary' >  Наш Instagram </button></a>
        </div>
            
        
    </div>

</section>
