{{ "<!-- Team Section -->" | safeHTML }}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.team.members }}
            
                <div class="team-member">

                    <img src="img/team/{{ .img }}" class="img-responsive " alt="">
                    
                    <div class='mine'>
                    <h4>{{ .name | markdownify }}</h4>
                    <p class="text-muted">{{ .position | markdownify }}</p>
                    <ul class="list-inline social-buttons">
                        {{ range .social }}
                        <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
                        {{ end }}
                    </ul>
                    <div>

                    
                 
                
           
            {{ end }}


                    <div class="col-lg-6 col-lg-offset-0 text-left" style=" margin-top:1%;">
                            <ul>
                                <li> {{ with .Site.Params.team.description_one }}{{ . | markdownify }}{{ end }}</li>
                                <li> {{ with .Site.Params.team.description_two }}{{ . | markdownify }}{{ end }}</li>
                                <li> {{ with .Site.Params.team.description_three }}{{ . | markdownify }}{{ end }}</li>
                                <li> {{ with .Site.Params.team.description_four }}{{ . | markdownify }}{{ end }}</li>
                            </ul>
                    </div>
                </div>

                    

        </div>
        
    </div>
</section>

{{ "<!-- Services Section -->" | safeHTML }}
